body {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
    padding-top: 70px;
    -webkit-appearance: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4{
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tx-2x{
  font-size: 2em;
}
.tx-3x{
  font-size: 3em;
}
.tx-4x{
  font-size: 4em;
}
.tx-5x{
  font-size: 5em;
}
.navbar-brand > img {
display: inline-block;

}
.panel-default{
    background-color: #f5f5f5;
    color: #60677A;
}
.panel-orange{
  border-color:  #FF7043;
}
.panel-orange > .panel-heading{
  background-color: #FF7043;
  border-color:  #FF7043;
}
.panel-danger > .panel-heading{
    background-color: #F16C63;
    border-color: #F16C63;
    color: #fff;
}
.panel-success > .panel-heading{
    background-color: #47C9AF;
    border-color: #47C9AF;
    color: #fff;
}
.panel.panel-success > .panel-heading{
    border-color: #00E676;
}
.panel > .panel-heading, .panel.panel-default > .panel-heading{
    background-color: #eeeeee;
    color: #fff;
}
.panel-footer {
    background-color: #fff;
}
.panel-danger a{
  color: #F16C63;
}
.panel-success a{
  color: #4caf50;
}
.panel-default a{
  color: #60677A;
}
.panel-orange a{
  color:#FF7043
}
.panel-border{
    background-color: #f5f5f5;
    color: #60677A;
    border: 1px solid #60677A;
}
.panel-heading{
    background-color: #60677A;
    color: #fff;
}

.navbar, .navbar.navbar-default{
  background: linear-gradient(60deg, #ef5350, #e53935);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
  color: #fff;
}
.navbar-default .navbar-brand{
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
  color: #FFF;
}
.navbar .navbar-nav > li > a{
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #CCC;
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #fff;
background: linear-gradient(60deg, #ef5350, #e53935);;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #CCC;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(60deg, #ef5350, #e53935);
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #CCC;
    background-color: transparent;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a{
  color:#ff5722;
}

.navbar-nav > li > a:hover{
  border: 0;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  border:0;
}
@media (max-width: 767px){
  .navbar .navbar-nav .dropdown .dropdown-toggle:after {
      font: normal normal normal 14px/1 FontAwesome;
      content: '\f0d7';
      font-size: 1.5em;
      float: right;
  }
  .navbar .navbar-nav .dropdown.open .dropdown-menu > li > a,.navbar .navbar-nav .dropdown.open .dropdown-menu > li > a:hover{
    color: #fff;
  }
  .navbar .navbar-nav .dropdown.open .dropdown-menu .divider {
    border-bottom: 1px solid #fff;
    opacity: 1;
}
  .navbar .navbar-nav .dropdown.open .dropdown-toggle:after {
    content: '\f0d8';
  }
}

.dropdown-menu{
  color: #ff5722;
}

.list-group-item-warning a {
color: #fff;
}
.list-group-item-warning {
color: #8a6d3b;
background-color: #E2A98A;
border-bottom: 1px solid #fff;
text-transform: capitalize;
font-weight: 700;
}
.prev,.next{
    margin-top: 16px;
    float: left;
}
.select{
overflow: hidden;
float: left;
font-size:20px;
text-align: center;
text-transform: capitalize;
background: rgba(255,255,255,0.5);
color: #333;
padding: 5px;
}
.amounts{
    text-align: center;
    padding-top: 12px;;
}

.label-success {
background-color: #47C9AF;
}
.label-danger{
   background-color: #F16C63;
}

.label-default{
    background-color: #60677A;
}
.alert-default {
    background-color: #60677A;
    border-color: transparent;
    color: #fff;
}
.alert-danger{
    background-color: #F16C63;
}
.alert-success{
    background-color: #47C9AF;
}
.caret.caret-inverse {
    border-top-width: 0;
    border-bottom: 4px solid #fff
}
.label{
    font-size: larger;
}
.progress-bar-success {
  background-color: #47C9AF;
}
.progress-bar-danger {
  background-color: #F16C63;
}
.progress-bar-default {
  background-color: #60677A;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    vertical-align: middle;
}

.brand-font{
  font-family: 'Lobster Two', cursive;
}

.text-primary{
  color:#ff5722;
}

.bg-primary{
  background-color: #ff5722;
}
header {
    position: relative;
    width: 100%;
    min-height:400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position:center;
    background-image: url('/images/header.jpg');
    background-attachment: fixed;
    text-align: center;
    color: white;
    margin-top: -20px;
}
.app-gallery img{
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px)
header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
}
header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
}
a{
  color: #ff5722;
}
a:hover, a:focus {
    color: #03a9f4;
}

.btn, .input-group-btn .btn{
  padding: 8px 20px;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check:before, label.checkbox-inline input[type=checkbox]:checked + .checkbox-material .check:before {
    color: #03a9f4;
  }

  .checkbox input[type=checkbox]:checked + .checkbox-material .check, label.checkbox-inline input[type=checkbox]:checked + .checkbox-material .check{
    color: #03a9f4;
    border-color:#03a9f4;
  }
  .form-group label.control-label{
    font-size: 16px;
  }


.alert p{
  margin: 0;
}

.budget-progress{
  height: 22px;
}
