<?php
  $GLOBALS['config'] = [

      'debug'        => false,
      'db'        => [
          'driver'   => 'mysql',
          'type'     => 'mysql',
          'host'     => '127.0.0.1',
          'port'     => '3306',
          'username' => 'root',
          'user'     => 'root',
          'password' => 'admin123',
          'pass' => 'admin123',
          'db'       => 'spendee',
          'database'       => 'spendee',
          'prefix'   => ''
      ],
      'ver'          => 'v3.0.6',
      'locale'       => [
          "brand"    => "tawazz.net",
          "address"  => "Perth<br> Australia",
          "phone"    => "+61 401 234 567",
          "email"    => "admin@tawazz.net",
      ],
      'views'        => [
        'cache'      => 'app/views/cache',
        'dir'        => 'app/views'
      ],
      'jobs'         => [
        'driver'     => 'beanstalkd',
        'host'       => '127.0.0.1',
        'queue'      => 'default',
      ],
      'email'        => [
          'host'     => 'smtp.google.com',
          'port'     => '587',
          'user'     => 'tawazz@example.com',
          'password' => 'password',
          'secure'   => 'tls',
          'auth'     => true
      ],
      'pushbullet'   => [
        'token'=> 'token'
      ],
      'google'       => [
          'key'      => 'key',
          'secret'   => 'secret',
          'callback' => 'http://spendee.dev/login/google'
      ],
      'storage'      => [
        'local'      => [
            'type'   => 'Local',
            'root'   => '/',
         ],
        's3'         => [
            'type'   => 'AwsS3',
            'key'    => '',
            'secret' => '',
            'region' => '',
            'version'=> 'latest',
            'bucket' => 'spendee',
            'root'   => '',
            'endpoint'=> ''
        ]
      ],
      'backup'       => [
          'name'     => 'spendee_prod'
      ],
      'vue'          => [
          'dev'      => [
              'server' => '10.0.0.3:3001'
          ],
          'views'    => 'templates/vue.php'
      ]

  ];
 ?>
