<?php
  $GLOBALS['config'] = [

      'debug'        => false,
      'mysql'        => [
          'driver'   => 'mysql',
          'host'     => '127.0.0.1',
          'username' => 'root',
          'password' => 'password',
          'db'       => 'spendee_database',
          'prefix'   => ''
      ],
      'ver'          => 'v2.7.3',
      'locale'       => [
          "brand"    => "tawazz.net",
          "address"  => "Perth<br> Australia",
          "phone"    => "+61 401 234 567",
          "email"    => "admin@tawazz.net",
      ],
      'views'        => [
        'cache'      => 'app/views/cache',
        'dir'        => 'app/views'
      ]
  ];
 ?>
